* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  background: url(img/roses.jpg) no-repeat;
  background-size: cover;
  font-family: 'Montez', cursive;
}

.parent {
  height: 100vh;
  overflow: auto;

  scroll-snap-type: y mandatory;
}

.slide1 {
  scroll-snap-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background: #0a3d6260;
}

.slide1 h1 {
  color: white;
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
}

.slide1 h1 span {
  font-size: 100px;
  display: block;
  background: #4a69bd;
  padding: 0 10px;
}

@-webkit-keyframes 'beats' {
  from {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  50% {
    -moz-transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
  }

  to {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.slide1 a {
  text-decoration: none;
  font-size: 100px;
  color: #eeeeeeB0;
  width: 100px;
  height: 100px;
  text-align: center;
  transition: 0.4s all;
  cursor: pointer;
  position: absolute;
  top: 75%;

  -webkit-animation-name: "beats";
  /*动画名称，需要跟@keyframes定义的名称一致*/
  -webkit-animation-duration: 2s;
  /*动画持续的时间长*/
  -webkit-animation-iteration-count: infinite;
  /*动画循环播放的次数*/
}

.slide2 {
  scroll-snap-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 120%;
  background: #eeeeee;
}

.container {
  background: #eeeeee;
  width: 100%;
  height: 83%;
  position: relative;
}

.letter {
  width: 65%;
  height: 80%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
background: #eeeeee;
box-shadow:  8px 8px 16px #a7a7a7, 
             -8px -8px 16px #ffffff;
}

.right{
  width: 47.5%;
    height: 97%;
    background: blue;
    float: right;
    margin: 1%;
}

.left{
  width: 47.6%;
  height: 97%;
  background: red;
  float: left;
  margin: 1%;
}

.center{
  position: relative;
    top: 10%;
    float: left;
    width: 0.3%;
    margin: 0.3%;
    height: 80%;
    background: #c0c0c0;
    border-radius: 20px;
}